<app-header></app-header>
<main>
    <div class="center badge-data">
        <!-- Section: Team v.3 -->
        <section id="team" class="section team-section pb-4 wow fadeIn" data-wow-delay="0.3s">
            <!-- Section heading -->
            <h2 class="font-weight-bold text-center big-heading h1 my-5">Our Amazing Team</h2>
            <!-- Section description -->
            <p class="text-center grey-text mb-5 mx-auto w-responsive">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.
            </p>

            <!-- Grid row -->
            <div class="row mb-lg-4 text-center text-md-left">
                <!-- Grid column -->
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="col-md-6 float-left">
                        <div class="avatar mx-auto mb-md-0 mb-3">
                            <img src="/assets/images/default.jpeg" class="z-depth-1 image" alt="Second sample avatar image" />
                        </div>
                    </div>

                    <div class="col-md-6 float-right">
                        <h4><strong class="big-heading">Ricky</strong></h4>
                        <h6 class="font-weight-bold grey-text">CEO & Co-founder</h6>
                        <p class="grey-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.
                        </p>
                        <div class="social-links-small">
                            <a href="#" class="fa fa-linkedin"></a>
                            <a href="#" class="fa fa-google"></a>
                            <a href="#" class="fa fa-youtube"></a>
                            <a href="#" class="fa fa-instagram"></a>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="col-md-6 float-left">
                        <div class="avatar mx-auto mb-md-0 mb-3">
                            <img src="/assets/images/default.jpeg" class="z-depth-1 image" alt="Second sample avatar image" />
                        </div>
                    </div>

                    <div class="col-md-6 float-right">
                        <h4><strong class="big-heading">Gopi</strong></h4>
                        <h6 class="font-weight-bold grey-text">CEO & Co-founder</h6>
                        <p class="grey-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.
                        </p>
                        <div class="social-links-small">
                            <a href="#" class="fa fa-linkedin"></a>
                            <a href="#" class="fa fa-google"></a>
                            <a href="#" class="fa fa-youtube"></a>
                            <a href="#" class="fa fa-instagram"></a>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
            <!-- Grid row -->
            <div class="row mb-lg-4 text-center text-md-left">
                <!-- Grid column -->
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="col-md-6 float-left">
                        <div class="avatar mx-auto mb-md-0 mb-3">
                            <img src="/assets/images/default.jpeg" class="z-depth-1 image" alt="Second sample avatar image" />
                        </div>
                    </div>

                    <div class="col-md-6 float-right">
                        <h4><strong class="big-heading">Vikas Tuteja</strong></h4>
                        <h6 class="font-weight-bold grey-text">Technology Head</h6>
                        <p class="grey-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.
                        </p>
                        <div class="social-links-small">
                            <a href="#" class="fa fa-linkedin"></a>
                            <a href="#" class="fa fa-google"></a>
                            <a href="#" class="fa fa-youtube"></a>
                            <a href="#" class="fa fa-instagram"></a>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="col-md-6 float-left">
                        <div class="avatar mx-auto mb-md-0 mb-3">
                            <img src="/assets/images/default.jpeg" class="z-depth-1 image" alt="Second sample avatar image" />
                        </div>
                    </div>

                    <div class="col-md-6 float-right">
                        <h4><strong class="big-heading">Rosal Saini</strong></h4>
                        <h6 class="font-weight-bold grey-text">Trainee</h6>
                        <p class="grey-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.
                        </p>
                        <div class="social-links-small">
                            <a href="#" class="fa fa-linkedin"></a>
                            <a href="#" class="fa fa-google"></a>
                            <a href="#" class="fa fa-youtube"></a>
                            <a href="#" class="fa fa-instagram"></a>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Team v.3 -->

        <hr class="my-5" />

        <!-- Section: Features v.1 -->
        <section id="products" class="text-center wow fadeIn" data-wow-delay="0.3s">
            <!-- Section heading -->
            <h1 class="font-weight-bold text-center h1 my-5">
                We create awesome products
            </h1>
            <!-- Section description -->
            <p class="text-center grey-text mb-5 mx-auto w-responsive lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>

            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-4 mb-4">
                    <i class="fa fa-4x fa-area-chart" style="color: pink;"></i>
                    <h4 class="font-weight-bold my-4">Analytics</h4>
                    <p class="grey-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 mb-4">
                    <i class="fa fa-4x fa-pencil-square-o" style="color: cyan;"></i>
                    <h4 class="font-weight-bold my-4">Design</h4>
                    <p class="grey-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 mb-4">
                    <i class="fa fa-4x fa-laptop" style="color: indigo;"></i>
                    <h4 class="font-weight-bold my-4">Development</h4>
                    <p class="grey-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->

        </section>
        <hr class="my-5" />
    </div>
</main>
<app-footer></app-footer>