<div class="footer-bg">
    <div class="footer-division"></div>
    <div class="center">
        <div class="footer-wrapper">
            <!-- Footer Links -->
            <ul class="footer-links float-left">
                <li class="footer-links-item"><a href="/">Home</a> </li>
                <li class="footer-links-item"><a href="/latest-news">Latest News</a> </li>
            </ul>
            <ul class="footer-links float-left">
                <li class="footer-links-item"><a href="/audio-library">Library</a> </li>
                <li class="footer-links-item"><a href="">Articles</a> </li>
            </ul>
            <ul class="footer-links float-left">
                <li class="footer-links-item"><a href="/our-mission">Our Mission</a> </li>
                <li class="footer-links-item"><a href="/about-us">About Us</a> </li>
            </ul>
            <ul class="footer-links float-left">
                <li class="footer-links-item"><a href="/contact-us">Contact Us</a> </li>
                <li class="footer-links-item"><a href="/privacy-policy">Privacy Policy</a> </li>
            </ul>
            <ul class="footer-links float-left">
                <li class="footer-links-item"><a href="/faqs">FAQs</a> </li>
                <li class="footer-links-item"><a href="/signin">SignIn</a> / <a href="/signup">Register</a> </li>
            </ul>
            <!-- end: comp footer-links -->
            <ul></ul>
        </div>
        <hr>
        <!-- Social Links -->
        <div class="social-links">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-pinterest"></a>
            <a href="#" class="fa fa-snapchat-ghost"></a>
            <a href="#" class="fa fa-skype"></a>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="blue-bg page-footer font-small">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 white">© 2020 Copyright:
        <a href="https://mdbootstrap.com/" class="white"> xyz.com </a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->