<head>
  <meta charset="utf-8" />
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- MATERIAL DESIGN ICONIC FONT -->
  <link
    rel="stylesheet"
    href="/assets/css/material-design-iconic-font.min.css"
  />
  <!-- STYLE CSS -->
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<div id="page_overlay" class="page-overlay"></div>
<!-- /.container -->
<div class="cookie-disclaimer">
  <!-- <div class="cookie-close accept-cookie"><i class="fa fa-times"></i></div> -->
  <div class="container">
    <p>
      This site makes the use of cookies to enhance the user experince and to take
      the consent of the acceptance of Terms & Conditions.<br />
      By clicking on the accept button, you accept
      <a class="blue" href="/termsandconditions">The Terms & Conditions</a> of
      this website.
    </p>
    <button type="button" class="red-button btn accept-cookie">Accept</button>
  </div>
</div>

<!--Navbar-->
<div class="blue-bg">
  <!-- Mobile only header -->
  <div class="" *ngIf="!isDesktop">
    <div class="mainContainer">
      <header>
        <a class="each-nav white" mdbWavesEffect href="/"
          ><span class="pointer">Logo</span></a
        >
        <form class="form-inline md-form form-sm active-pink-2">
          <input
            class="form-control form-control-sm mr-3 w-75 white-bg autocomplete search"
            type="text"
            placeholder="Search"
            id="search"
            name="search"
            aria-label="Search"
            autocomplete="off"
            mdbInput
            (keyup)="getSearchList()"
            (click)="cssSetUp()"
          />
        </form>
        <a class="menuBtn">
          <span class="lines"></span>
        </a>
        <nav class="mainMenu">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/latest-news">Latest News</a>
            </li>
            <li>
              <a href="/audio-books">Audio Books</a>
            </li>
            <li>
              <a href="/top-articles">Top Articles</a>
            </li>
            <li>
              <a href="/popular-blogs">Popular Blogs</a>
            </li>
            <li>
              <a href="/our-mission">Our Mission</a>
            </li>
            <li>
              <a href="/contact-us">ContactUs</a>
            </li>
            <li>
              <a href="/about-us">About Us</a>
            </li>
            <li>
              <a href="/faqs">FAQs</a>
            </li>
            <li *ngIf="!isLoggedIn">
              <a href="/signin" class="suBtn">SignIn</a>&nbsp;&nbsp;
              <a href="/signup" class="suBtn">Register</a>
            </li>
            <li *ngIf="isLoggedIn">
              <hr />
              <a (click)="SignOut()">SignOut</a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="container"></div>
      <footer></footer>
    </div>
  </div>

  <mdb-navbar
    SideClass="navbar navbar-expand-lg"
    [containerInside]="false"
    *ngIf="isDesktop"
  >
    <!-- Navbar brand -->
    <div class="" class="header-left-panel"></div>
    <div class="" class="header-center-panel">
      <ul class="navbar-nav full-width input-icons">
        <li class="nav-item">
          <a class="each-nav white" mdbWavesEffect href="/"
            ><span class="pointer">Logo</span></a
          >
        </li>
        <!-- Search form -->
        <form class="form-inline md-form form-sm active-pink-2">
          <input
            class="form-control form-control-sm mr-3 w-75 white-bg autocomplete search"
            type="text"
            placeholder="Search"
            id="search"
            name="search"
            aria-label="Search"
            autocomplete="off"
            mdbInput
            (keyup)="getSearchList()"
          />
        </form>
        <li class="nav-item" [ngClass]="{ active: selectedPage === 'home' }">
          <a class="each-nav white" mdbWavesEffect href="/"
            ><span class="pointer">Home</span></a
          >
        </li>
        <li
          class="nav-item"
          [ngClass]="{ active: selectedPage === 'latest-news' }"
        >
          <a class="each-nav white" mdbWavesEffect href="/latest-news"
            ><span class="pointer">Latest News</span></a
          >
        </li>
        <li
          class="nav-item"
          [ngClass]="{ active: selectedPage === 'audio-books' }"
        >
          <a class="each-nav white" mdbWavesEffect href="/audio-books"
            ><span class="pointer">Audio Books</span></a
          >
        </li>
        <li
          class="nav-item"
          [ngClass]="{ active: selectedPage === 'our-mission' }"
        >
          <a class="each-nav white" mdbWavesEffect href="/our-mission"
            >Our Mission</a
          >
        </li>
        <!-- <li
          class="nav-item"
          [ngClass]="{ active: selectedPage === 'about-us' }"
        >
          <a class="each-nav white" mdbWavesEffect href="/about-us">About Us</a>
        </li> -->
        <!-- Dropdown -->
        <li class="nav-item"><a class="each-nav white">More..</a></li>
        <li class="nav-item" dropdown>
          <a
            dropdownToggle
            mdbWavesEffect
            type="button"
            class="each-nav dropdown-toggle white pointer"
            mdbWavesEffect
          >
            <span class="caret"></span
          ></a>
          <div
            *dropdownMenu
            class="dropdown-menu dropdown dropdown-primary"
            role="menu"
          >
            <a class="dropdown-item" mdbWavesEffect href="/top-articles"
              ><span class="pointer">Articles</span></a
            >
            <a class="dropdown-item" mdbWavesEffect href="/popular-blogs"
              ><span class="pointer">Blogs</span></a
            >
            <a class="dropdown-item" mdbWavesEffect href="/contact-us"
              ><span class="pointer">Contact Us</span></a
            >
            <a class="dropdown-item" mdbWavesEffect href="/about-us"
              ><span class="pointer">About Us</span></a
            >
            <a class="dropdown-item" mdbWavesEffect href="/faqs"
              ><span class="pointer">FAQs</span></a
            >
            <div class="divider dropdown-divider"></div>
            <a
              *ngIf="isLoggedIn"
              class="dropdown-item waves-light"
              mdbWavesEffect
              (click)="SignOut()"
              >Sign Out</a
            >
            <a
              *ngIf="!isLoggedIn"
              class="dropdown-item waves-light"
              mdbWavesEffect
              href="/signin"
              >Sign In</a
            >
            <a
              *ngIf="!isLoggedIn"
              class="dropdown-item waves-light"
              mdbWavesEffect
              href="/signup"
              >Register</a
            >
          </div>
        </li>
      </ul>
      <!-- Collapsible content -->
    </div>
    <div class="col-md-2"></div>
  </mdb-navbar>
</div>
<br />
<!--/.Navbar-->
