.each-nav {
    font-size: 1.4rem;
    font-weight: 400 !important;
}

.nav-item {
    padding: 8px;
}

.nav-item>a {
    text-decoration: none;
}

li.nav-item.active {
    /* border: 0.5px solid white !important; */
    background-color: #4a8586 !important;
}

.active-pink-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}

.active-pink input[type=text] {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}

.input-icons i {
    position: absolute;
}