<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="/assets/css/material-design-iconic-font.min.css">
    <!-- STYLE CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<!--Navbar-->
<div class="blue-bg">
    <mdb-navbar SideClass="navbar navbar-expand-lg" [containerInside]="false">
        <!-- Navbar brand -->
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <!-- Links -->
            <ul class="navbar-nav full-width input-icons">
                <li class="nav-item">
                    <a class="each-nav white" mdbWavesEffect href="/"><span class="pointer">Logo</span><span class="sr-only">(current)</span></a>
                </li>
                <!-- Search form -->
                <form class="form-inline md-form form-sm active-pink-2">
                    <input style="width:400px !important;" class="form-control form-control-sm mr-3 w-75 white-bg" type="text" placeholder="Search" id="search" name="search" aria-label="Search" mdbInput>
                </form>
                <li class="nav-item" [ngClass]="{'active': selectedPage === 'home'}">
                    <a class="each-nav white" mdbWavesEffect href="/"><span class="pointer">Home</span><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" [ngClass]="{'active': selectedPage === 'latest-news'}">
                    <a class="each-nav white" mdbWavesEffect href="/latest-news"><span class="pointer">Latest News</span></a>
                </li>
                <li class="nav-item" [ngClass]="{'active': selectedPage === 'audio-library'}">
                    <a class="each-nav white" mdbWavesEffect href="/audio-library"><span class="pointer">Library</span></a>
                </li>
                <li class="nav-item" [ngClass]="{'active': selectedPage === 'our-mission'}">
                    <a class="each-nav white" mdbWavesEffect href="/our-mission">Our Mission</a>
                </li>
                <li class="nav-item" [ngClass]="{'active': selectedPage === 'about-us'}">
                    <a class="each-nav white" mdbWavesEffect href="/about-us">About Us</a>
                </li>
                <!-- Dropdown -->
                <li class="nav-item"><a class="each-nav white">More..</a></li>
                <li class="nav-item " dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="each-nav dropdown-toggle white pointer" mdbWavesEffect>
                        <span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item" mdbWavesEffect href="/top-articles"><span class="pointer">Articles</span></a>
                        <a class="dropdown-item" mdbWavesEffect href="/popular-blogs"><span class="pointer">Blogs</span></a>
                        <a class="dropdown-item" mdbWavesEffect href="/our-mission"><span class="pointer">Our Mission</span></a>
                        <a class="dropdown-item" mdbWavesEffect href="/contact-us"><span class="pointer">Contact Us</span></a>
                        <a class="dropdown-item" mdbWavesEffect href="/faqs"><span class="pointer">FAQs</span></a>
                        <div *ngIf="isLoggedIn" class="divider dropdown-divider"></div>
                        <a *ngIf="isLoggedIn" class="dropdown-item waves-light" mdbWavesEffect (click)="SignOut()">Sign Out</a>
                    </div>
                </li>
            </ul>
            <!-- Collapsible content -->
        </div>
        <div class="col-md-2"></div>
    </mdb-navbar>
</div>
<br>
<!--/.Navbar-->