<app-header></app-header>
<!DOCTYPE html>
<html>


<body>
    <!--style="background: url('/assets/images/bg-registration-form-2.jpg');"-->
    <div class="wrapper center">
        <div class="inner inner-signin">
            <form action="">
                <h3>Signin Form</h3>

                <div class="form-wrapper required">
                    <label for="">Email/Mobile</label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="form-wrapper required">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="">
                    <label>
                            <input type="checkbox" id="signin_checkbox" checked="checked">
                             I caccept the <a href="#">Terms of Use & Privacy Policy.</a>
							<span class="checkmark"></span>
						</label>
                </div>
                <div class="checkbox">
                    <label>
							Don't have an account ? <a href="/signup">Click Here</a> to Register
					</label>
                </div>
                <button (click)="signInPostTrigger()">Signin</button>
            </form>
        </div>
    </div>

</body>

</html>
<app-footer></app-footer>