.articles-bg {
  background: #eee;
}

.carousel-item:hover {
  cursor: grab;
}

.carousel-item {
  display: none;
}

.carousel-item.active {
  display: -webkit-inline-box !important;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  bottom: 0;
}
.carousel-caption h2,
.carousel-caption p.lead {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.carousel-indicators li {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  align-self: center;
  transition: all 0.6s ease-in-out;
}
.carousel-indicators li.active {
  width: 1rem;
  height: 1rem;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  border: 2px solid #fff;
  border-radius: 100%;
}

.carousel-control-prev {
  left: 10px;
}
.carousel-control-next {
  right: 10px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background: #000;
  color: #000;
}

.carousel .carousel-indicators li {
  border-radius: 50%;
  cursor: pointer;
  height: 0.625rem;
  width: 0.625rem;
  background-color: cadetblue;
}

.carousel-indicators .active {
  background-color: #fff;
}

.homepage-ht {
  height: 1300px;
}

.chev {
  position: absolute;
  top: 50%;
  z-index: 10;
}

.chev-left {
  left: -1.2rem;
}

.chev-right {
  right: -1.2rem;
}

.display-over {
  z-index: 10 !important;
  position: relative;
}

.display-over > a {
  color: cadetblue;
}

.img-fluid-art {
  height: 400px !important;
  width: 100%;
}

.display-4 {
  font-size: 2.5rem;
}

@media only screen and (max-width: 768px) {
  hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .homepage-ht {
    height: 2200px;
  }

  .display-4 {
    font-size: 1.3rem;
  }

  .img-fluid-art {
    height: 280px !important;
    width: 100%;
  }

  .col-md-9,
  .col-md-6,
  .col-md-12 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
