.pagination {
  text-align: center;
  margin: 2rem auto;
  width: 20%;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .pagination {
    margin: 0.4rem auto;
    width: 20%;
    display: inline-flex;
  }
}
