.pagination {
    text-align: center;
    margin-left: 37%;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .pagination {
        text-align: center;
        margin-left: 15%;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}