.card-body {
    padding: 0.25rem !important;
    height: 250px;
}

.news-read-more {
    position: absolute;
    right: 14px;
    bottom: 10px;
    font-size: 1rem;
}

.news-read-more>a:hover {
    text-decoration: none;
}