<app-header></app-header>
<div class="row center">
    <div class="col-md-3">
        <!--Card-->
        <mdb-card>

            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <img src="" onerror="this.src='/assets/images/default.jpeg'">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--/Card image-->
            <mdb-card-body class="text-center">
                <!--Card content-->
                <h5 class="pink-text">
                    <mdb-icon fas icon="utensils"></mdb-icon> Culinary</h5>
                <mdb-card-text>
                    Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                </mdb-card-text>
                <a mdbBtn class="waves-light blue-bg" mdbWavesEffect>View</a>
            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
    </div>
    <div class="col-md-3">
        <!--Card-->
        <mdb-card>

            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--/Card image-->
            <mdb-card-body class="text-center">
                <!--Card content-->
                <h5 class="pink-text">
                    <mdb-icon fas icon="utensils"></mdb-icon> Culinary</h5>
                <mdb-card-text>
                    Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                </mdb-card-text>

                <a mdbBtn class="waves-light blue-bg" mdbWavesEffect>View</a>

            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
    </div>
    <div class="col-md-3">
        <!--Card-->
        <mdb-card>

            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--/Card image-->
            <mdb-card-body class="text-center">
                <!--Card content-->
                <h5 class="pink-text">
                    <mdb-icon fas icon="utensils"></mdb-icon> Culinary</h5>
                <mdb-card-text>
                    Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                </mdb-card-text>

                <a mdbBtn class="waves-light blue-bg" mdbWavesEffect>View</a>

            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
    </div>
    <div class="col-md-3">
        <!--Card-->
        <mdb-card>

            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--/Card image-->
            <mdb-card-body class="text-center">
                <!--Card content-->
                <h5 class="pink-text">
                    <mdb-icon fas icon="utensils"></mdb-icon> Culinary</h5>
                <mdb-card-text>
                    Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                </mdb-card-text>

                <a mdbBtn class="waves-light blue-bg" mdbWavesEffect>View</a>

            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
    </div>

</div>
<div class="row center">
    <div class="col-md-3">
        <!--Card-->
        <mdb-card>

            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--/Card image-->
            <mdb-card-body class="text-center">
                <!--Card content-->
                <h5 class="pink-text">
                    <mdb-icon fas icon="utensils"></mdb-icon> Culinary</h5>
                <mdb-card-text>
                    Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                </mdb-card-text>
                <a mdbBtn class="waves-light blue-bg" mdbWavesEffect>View</a>
            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
    </div>
    <div class="col-md-3">
        <!--Card-->
        <mdb-card>

            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--/Card image-->
            <mdb-card-body class="text-center">
                <!--Card content-->
                <h5 class="pink-text">
                    <mdb-icon fas icon="utensils"></mdb-icon> Culinary</h5>
                <mdb-card-text>
                    Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                </mdb-card-text>

                <a mdbBtn class="waves-light blue-bg" mdbWavesEffect>View</a>

            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
    </div>
    <div class="col-md-3">
        <!--Card-->
        <mdb-card>

            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--/Card image-->
            <mdb-card-body class="text-center">
                <!--Card content-->
                <h5 class="pink-text">
                    <mdb-icon fas icon="utensils"></mdb-icon> Culinary</h5>
                <mdb-card-text>
                    Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                </mdb-card-text>

                <a mdbBtn class="waves-light blue-bg" mdbWavesEffect>View</a>

            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
    </div>
    <div class="col-md-3">
        <!--Card-->
        <mdb-card>

            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--/Card image-->
            <mdb-card-body class="text-center">
                <!--Card content-->
                <h5 class="pink-text">
                    <mdb-icon fas icon="utensils"></mdb-icon> Culinary</h5>
                <mdb-card-text>
                    Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                </mdb-card-text>

                <a mdbBtn class="waves-light blue-bg" mdbWavesEffect>View</a>

            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
    </div>

</div>
<div class="pagination left">
    <app-pagination *ngIf="totalCount" [currentPage]="page" [totalCount]="totalCount" [next]="next" [previous]="previous" class="full-width pagination-bar"></app-pagination>
</div>

<app-footer></app-footer>