<div class="col-md-3 float-left">
    <!-- Our Inventory -->
    <div class="ipsWidget ipsWidget_vertical ipsBox inventory-ht">
        <h3 class="ipsType_reset ipsWidget_title badge-head">
            Our Inventory
        </h3>
        <div class="ipsWidget_inner ipsPad badge-data">
            <span class="badge badge-pill badge-light desktop-badge">
                <span class="badge-head blue">105</span><br>
            <span class="badge-data blue">Exposed <br>Fake News</span>
            </span>
            <span class="badge badge-pill badge-light desktop-badge">
                <span class="badge-head blue">98</span><br>
            <span class="badge-data blue">Audio <br> Books</span>
            </span>
            <span class="badge badge-pill badge-light desktop-badge">
                <span class="badge-head blue">306</span><br>
            <span class="badge-data blue">Articles <br> Released</span>
            </span>
            <span class="badge badge-pill badge-light desktop-badge">
                <span class="badge-head blue">91</span><br>
            <span class="badge-data blue">Blogs <br> Published</span>
            </span>
            <!-- <a mdbBtn class="waves-light blue-bg" mdbWavesEffect>Donate</a> -->
        </div>
    </div>
    <br>
    <!-- Donation -->
    <div class="ipsWidget ipsWidget_vertical ipsBox " data-blockid="app_core_newsletter_9x20o3kzh" data-blockconfig="true" data-blocktitle="Newsletter Signup" data-blockerrormessage="This block cannot be shown. This could be because it needs configuring, is unable to show on this page, or will show after reloading this page."
        data-controller="core.front.widgets.block">
        <h3 class="ipsType_reset ipsWidget_title badge-head">
            Support Us
        </h3>
        <div class="ipsWidget_inner ipsPad badge-data">
            <div class="ipsType_richText ipsType_reset ipsType_medium" data-controller="core.front.core.lightboxedImages">
                We are an NGO that works towards spreading awareness and exposing fake news, etc. Kindly support us by donating.<br>
            </div>
            <!-- <a mdbBtn class="waves-light blue-bg" mdbWavesEffect>Donate</a> -->
            <button>Donate</button>
        </div>
    </div>
    <br>
    <!-- SignIn/Register -->
    <div class="ipsWidget ipsWidget_vertical ipsBox " data-blockid="app_core_newsletter_9x20o3kzh" data-blockconfig="true" data-blocktitle="Newsletter Signup" data-blockerrormessage="This block cannot be shown. This could be because it needs configuring, is unable to show on this page, or will show after reloading this page."
        data-controller="core.front.widgets.block">
        <h3 class="ipsType_reset ipsWidget_title badge-head">
            SignIn/Register
        </h3>
        <div class="ipsWidget_inner ipsPad badge-data">
            <div class="ipsType_richText ipsType_reset ipsType_medium" data-controller="core.front.core.lightboxedImages">
                Gain access to all our features, Kindly Login for the same
            </div><br>
            <a href="/signin" mdbBtn class="waves-light blue-bg white" mdbWavesEffect>SignIn</a>
            <a href="/signup" mdbBtn class="waves-light blue-bg white" mdbWavesEffect>Register</a>
        </div>
    </div>
</div>