.inventory-ht {
  height: 10rem;
  overflow: hidden;
}

.desktop-badge {
  width: 5rem;
  height: 5rem;
  padding-top: 1rem;
  background-color: #efefef;
  box-shadow: 2px 2px #8a8a8a;
  margin: 0.4rem;
}

.desktop-badge:hover {
  transform: translateY(4px);
}

@media only screen and (max-width: 768px) {
  .desktop-badge {
    width: 4.8rem;
    height: 4.8rem;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
    padding-top: 0.6rem;
  }

  button {
    margin-top: 0.4rem !important;
    margin-bottom: 0.4rem !important;
  }

  .inventory-ht {
    height: 9rem;
  }
}
