<div class="">
  <!-- Our Inventory -->
  <div class="ipsWidget ipsWidget_vertical ipsBox inventory-ht">
    <h3 class="ipsType_reset ipsWidget_title badge-head">Our Inventory</h3>
    <div class="ipsWidget_inner ipsPad badge-data" *ngIf="inventory" style="text-align: center;">
      <a href="/news"
        ><span class="badge badge-pill badge-light desktop-badge">
          <span class="badge-head blue">{{inventory.news}}</span><br />
          <span class="badge-data blue">News<br>Published</span>
        </span></a
      >
      <a href="/audio-books"
        ><span class="badge badge-pill badge-light desktop-badge">
          <span class="badge-head blue">{{inventory.audio_books}}</span><br />
          <span class="badge-data blue"
            >Audio <br />
            Books</span
          >
        </span></a
      >
      <a href="/top-articles"
        ><span class="badge badge-pill badge-light desktop-badge">
          <span class="badge-head blue">{{inventory.articles}}</span><br />
          <span class="badge-data blue"
            >Articles <br />
            Released</span
          >
        </span></a
      >
      <!-- <a href="/popular-blogs"
        ><span class="badge badge-pill badge-light desktop-badge">
          <span class="badge-head blue">91</span><br />
          <span class="badge-data blue"
            >Blogs <br />
            Published</span
          >
        </span></a
      > -->
      <!-- <a mdbBtn class="waves-light blue-bg" mdbWavesEffect>Donate</a> -->
    </div>
  </div>
  
  <!-- Donation -->
  <div class="ipsWidget ipsWidget_vertical ipsBox">
    <h3 class="ipsType_reset ipsWidget_title badge-head">Support Us</h3>
    <div class="ipsWidget_inner ipsPad badge-data">
      <div class="ipsType_richText ipsType_reset ipsType_medium pad">
        We are an NGO that works towards spreading awareness and exposing fake
        news, etc. Kindly support us by donating.
      </div>
      <!-- <a mdbBtn class="waves-light blue-bg" mdbWavesEffect>Donate</a> -->
      <button (click)="donate()">Donate</button>
    </div>
  </div>
  
  <!-- SignIn/Register -->
  <div class="ipsWidget ipsWidget_vertical ipsBox" *ngIf="!isLoggedIn">
    <h3 class="ipsType_reset ipsWidget_title badge-head">SignIn/Register</h3>
    <div class="text-center ipsWidget_inner ipsPad badge-data">
      <div class="ipsType_richText ipsType_reset ipsType_medium pad">
        Gain access to all our features, Kindly Login for the same
      </div>
      <a href="/signin" mdbBtn class="waves-light blue-bg white" mdbWavesEffect
        >SignIn</a
      >
      <a href="/signup" mdbBtn class="waves-light blue-bg white" mdbWavesEffect
        >Register</a
      >
    </div>
  </div>
</div>
