<app-header></app-header>
<main>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <app-breadcrums></app-breadcrums>
      <div class="badge-data">
        <!-- Section: Team v.3 -->
        <section
          id="team"
          class="text-center wow fadeIn content-data"
          data-wow-delay="0.3s"
        >
          <!-- Section heading -->
          <h2 class="font-weight-bold text-center big-heading h1 my-5">
            Contact Us
          </h2>
          <!-- Section description -->
          <p class="text-center grey-text mb-5 mx-auto w-responsive">
            If you may have any query / suggestion / feedback or any other
            concern, please feel free to reach us on the below details and we
            will do our best to reply as quick as feasible .
          </p>
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 mb-4">
              <i class="fa fa-4x fa-envelope" style="color: pink"></i>
              <h4 class="font-weight-bold my-4">Email Us</h4>
              <span class="font-weight-bold my-2">sachfatha@gmail.com</span>
              <br /><br />
              <p class="grey-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Reprehenderit maiores nam, aperiam minima assumenda deleniti
                hic.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-4">
              <i class="fa fa-4x fa-phone" style="color: rgb(11, 187, 245)"></i>
              <h4 class="font-weight-bold my-4">Phone</h4>
              <span class="font-weight-bold my-2">+91-9821115535</span>
              <br /><br />
              <p class="grey-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Reprehenderit maiores nam, aperiam minima assumenda deleniti
                hic.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 mb-4">
              <i class="fa fa-4x fa-whatsapp" style="color: #49d849"></i>
              <h4 class="font-weight-bold my-4">Whatsapp</h4>
              <span class="font-weight-bold my-2">+91-9821115535</span>
              <br /><br />
              <p class="grey-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Reprehenderit maiores nam, aperiam minima assumenda deleniti
                hic.
              </p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </section>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
