<app-header></app-header>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="/assets/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <!--style="background: url('/assets/images/bg-registration-form-2.jpg');"-->
    <div class="wrapper center">
        <div class="inner">
            <form action="">
                <h3>Registration Form</h3>
                <div class="form-group">
                    <div class="form-wrapper">
                        <label for="">First Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-wrapper">
                        <label for="">Last Name</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-wrapper">
                    <label for="">Email</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-wrapper">
                    <label for="">Mobile</label>
                    <input type="number" class="form-control">
                </div>
                <div class="form-wrapper">
                    <label for="">Password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="form-wrapper">
                    <label for="">Confirm Password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="checkbox">
                    <label>
							<input type="checkbox"> I caccept the <a href="#">Terms of Use & Privacy Policy.</a>
							<span class="checkmark"></span>
						</label>
                </div>
                <div class="checkbox">
                    <label>
							Already have an account ? <a href="/signin">Click Here</a> to SignIn
					</label>
                </div>
                <button>Register Now</button>
            </form>
        </div>
    </div>

</body>

</html>
<app-footer></app-footer>