/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn {
    padding: .63rem 1.60rem !important;
}

.white-bg {
    background-color: white !important;
}

.blue-bg {
    /* background-color: #3f729b !important; */
    background-color: cadetblue;
}

.blue {
    /* color: #3f729b !important; */
    color: cadetblue;
}

.white {
    color: white !important;
}

.center {
    margin: 0% 0% 0% 15%;
    width: 70%;
}

.full-width {
    width: 100%;
}

.pointer {
    cursor: pointer !important;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: auto;
    text-align: center;
    text-decoration: none;
    margin: 7px 5px;
    border-radius: 38%;
    height: auto;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
    background: #00aff0;
    color: white;
}

.float-center {
    float: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.desktop-badge {
    width: 110px;
    height: 110px;
    padding-top: 18px;
    /* background-color: #cfefff; */
    /* background-color: #c4c5c5; */
    background-color: #efefef;
    box-shadow: 2px 2px #8a8a8a;
    margin: 0px 10px 10px 0px;
}

.badge-head {
    font-size: 2rem;
    font-weight: bold;
}

.badge-data {
    font-size: 1rem;
    font-weight: 400;
}

.date-author-box {
    position: relative;
    left: 0.5rem;
    bottom: 0.5rem;
}

.date-author {
    padding: 0;
    font-size: 0.9rem;
    color: darkgray;
    margin: 0;
    width: 180px;
    text-align: left;
}

li {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.image-col-3 {
    width: 292px !important;
    height: 192px !important;
}

.home-widget {
    height: 600px;
}

.home-widget-content {
    height: 540px;
    overflow-y: auto;
}

.home-widget-data {
    width: 550px;
    padding: 1rem;
}

.each-home-widget {
    margin-bottom: 1%;
}


/* home page and right pane css --starts */

.ipsBox {
    border: 1px solid #e0e0e0;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.ipsList_reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ipsWidget.ipsWidget_vertical .ipsWidget_title,
.ipsWidget.ipsWidget_horizontal .ipsWidget_title {
    padding: 10px;
    margin: 0;
    font-size: 1.3rem;
    font-weight: 400;
    /* text-transform: uppercase; */
    position: relative;
    color: #828e99;
    background: #ebedf0;
    border-radius: 2px 2px 0px 0px;
    /* font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

.ipsPad,
.ipsApp ul.ipsPad,
.ipsApp ol.ipsPad {
    padding: 15px;
}

.stamp {
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 100;
    transform: rotate(-22deg);
    margin: 0.8rem;
}

.footer-bg {
    background: #fafafc;
    color: #34444c;
    position: relative;
}

.social-links-small a.fa {
    font-size: 1rem !important;
}

.main-card {
    margin-bottom: 1rem;
}

.card-head {
    font-size: 1.4rem;
    padding: 0.5rem;
    text-transform: capitalize;
}

.card-text {
    text-align: left;
    padding: 0.5rem 0.5rem 0 0.5rem;
    display: inline-block;
    font-size: 0.9rem !important;
    overflow: hidden !important;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.heading {
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
    /* text-decoration: solid; */
}

.content-data {
    font-size: 1.3rem;
    margin: 1.5rem 0 1.5rem 0;
}

.whatsapp-green {
    color: #49d849;
}


/* home page and right pane css --ends */

@media only screen and (max-width: 600px) {
    .center {
        margin-left: 1%;
        width: 98%;
    }
}